langchain
numpy
pandas
matplotlib
scikit-learn
pydantic_settings
python-dotenv
langchain_openai
langchain-groq
langchain-huggingface
sentence-transformers
langchain-community
minio
weaviate-client
langchain-pymupdf4llm
ragatouille
langchain_experimental
semanticscholar
xmltodict
youtube_search
wikibase-rest-api-client
mediawikiapi
yfinance
langgraph
llmlingua
flashrank
tabulate

pillow
open_clip_torch
torch
langchain-experimental

kokoro>=0.9.2
soundfile

torchaudio
librosa
git+https://github.com/nguyenthienhy/F5-TTS-Vietnamese.git
git+https://github.com/CodeLinkIO/Vietnamese-text-normalization.git@main
vietnam_number

transformers
datasets[audio]
accelerate
pyannote.audio

sentence-transformers

deepmultilingualpunctuation

deep-translator

plotly
seaborn
umap-learn

pika
redis
minio

tenacity
omegaconf
git+https://github.com/nguyenthienhy/F5-TTS-Vietnamese.git
git+https://github.com/CodeLinkIO/Vietnamese-text-normalization.git@main
sentence_transformers
deep_translator
underthesea
keybert

